.header {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 50px;
  padding: 60px 0px 0px 90px;
}

.headerImg {
  width: 90px;
  height: 90px;
}

.headerText {
  display: flex;
  flex-direction: column;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 60px 0px 0px 40px;
  }
}
